<div
  *ngFor="let row of boardData | keyvalue"
  class="board-row"
>
  <div
    *ngFor="let cell of row.value | keyvalue"
    class="board-cell"
    [class.board-cell-defined]="cell.value.define"
    [class.board-cell-inner]="!cell.value.define && cell.value.classes.inner"
    [class.board-cell-outer]="!cell.value.define && cell.value.classes.outer"
    [class.board-cell-top]="!cell.value.define && cell.value.classes.top"
    [class.board-cell-right]="!cell.value.define && cell.value.classes.right"
    [class.board-cell-bottom]="!cell.value.define && cell.value.classes.bottom"
    [class.board-cell-left]="!cell.value.define && cell.value.classes.left"
    (click)="addTile(row.key * 1, cell.key * 1)"
  >
    row {{ row.key }}
    <br>
    col {{ cell.key }}
    <br>
    {{ cell.value.name }}
    <br>
    neighbors {{ cell.value.neighbors }}
  </div>
</div>

<!--<div class="board-row">-->
<!--<div class="board-cell board-cell-outer board-cell-bottom board-cell-right"></div>-->
<!--<div class="board-cell board-cell-outer board-cell-bottom"></div>-->
<!--<div class="board-cell board-cell-outer board-cell-bottom board-cell-left"></div>-->
<!--</div>-->
<!--<div class="board-row">-->
<!--<div class="board-cell board-cell-outer board-cell-right"></div>-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--<div class="board-cell board-cell-outer board-cell-left"></div>-->
<!--</div>-->
<!--<div class="board-row">-->
<!--<div class="board-cell board-cell-outer board-cell-top board-cell-right"></div>-->
<!--<div class="board-cell board-cell-outer board-cell-top"></div>-->
<!--<div class="board-cell board-cell-outer board-cell-top board-cell-left"></div>-->
<!--</div>-->

<!--<br>-->
<!--<hr>-->
<!--<br>-->

<!--<div class="board-row">-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--<div class="board-cell board-cell-outer board-cell-left"></div>-->
<!--<div class="board-cell"></div>-->
<!--</div>-->
<!--<div class="board-row">-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--<div class="board-cell board-cell-inner board-cell-top board-cell-right"></div>-->
<!--<div class="board-cell board-cell-outer board-cell-bottom"></div>-->
<!--</div>-->
<!--<div class="board-row">-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--</div>-->

<!--<br>-->
<!--<hr>-->
<!--<br>-->

<!--<div class="board-row">-->
<!--<div class="board-cell"></div>-->
<!--<div class="board-cell board-cell-outer board-cell-right"></div>-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--</div>-->
<!--<div class="board-row">-->
<!--<div class="board-cell board-cell-outer board-cell-bottom"></div>-->
<!--<div class="board-cell board-cell-inner board-cell-top board-cell-left"></div>-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--</div>-->
<!--<div class="board-row">-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--</div>-->

<!--<br>-->
<!--<hr>-->
<!--<br>-->

<!--<div class="board-row">-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--</div>-->
<!--<div class="board-row">-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--<div class="board-cell board-cell-inner board-cell-bottom board-cell-right"></div>-->
<!--<div class="board-cell board-cell-outer board-cell-top"></div>-->
<!--</div>-->
<!--<div class="board-row">-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--<div class="board-cell board-cell-outer board-cell-left"></div>-->
<!--<div class="board-cell"></div>-->
<!--</div>-->

<!--<br>-->
<!--<hr>-->
<!--<br>-->

<!--<div class="board-row">-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--</div>-->
<!--<div class="board-row">-->
<!--<div class="board-cell board-cell-outer board-cell-top"></div>-->
<!--<div class="board-cell board-cell-inner board-cell-bottom board-cell-left"></div>-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--</div>-->
<!--<div class="board-row">-->
<!--<div class="board-cell"></div>-->
<!--<div class="board-cell board-cell-outer board-cell-right"></div>-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--</div>-->

<!--<br>-->
<!--<hr>-->
<!--<br>-->

<!--<div class="board-row">-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--</div>-->
<!--<div class="board-row">-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--<div class="board-cell board-cell-inner board-cell-right"></div>-->
<!--<div class="board-cell board-cell-inner board-cell-left board-cell-right"></div>-->
<!--</div>-->
<!--<div class="board-row">-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--</div>-->

<!--<br>-->
<!--<hr>-->
<!--<br>-->

<!--<div class="board-row">-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--</div>-->
<!--<div class="board-row">-->
<!--<div class="board-cell board-cell-inner board-cell-left board-cell-right"></div>-->
<!--<div class="board-cell board-cell-inner board-cell-left"></div>-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--</div>-->
<!--<div class="board-row">-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--</div>-->

<!--<br>-->
<!--<hr>-->
<!--<br>-->

<!--<div class="board-row">-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--<div class="board-cell board-cell-inner board-cell-bottom board-cell-top"></div>-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--</div>-->
<!--<div class="board-row">-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--<div class="board-cell board-cell-inner board-cell-top"></div>-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--</div>-->
<!--<div class="board-row">-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--</div>-->

<!--<br>-->
<!--<hr>-->
<!--<br>-->

<!--<div class="board-row">-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--</div>-->
<!--<div class="board-row">-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--<div class="board-cell board-cell-inner board-cell-bottom"></div>-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--</div>-->
<!--<div class="board-row">-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--<div class="board-cell board-cell-inner board-cell-bottom board-cell-top"></div>-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--</div>-->

<!--<br>-->
<!--<hr>-->
<!--<br>-->

<!--<div class="board-row">-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--</div>-->
<!--<div class="board-row">-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--<div class="board-cell board-cell-inner"></div>-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--</div>-->
<!--<div class="board-row">-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--<div class="board-cell board-cell-defined"></div>-->
<!--</div>-->
